*.class

# Package Files #
*.jar
*.war
*.ear
!/dist/ArduinoFX.jar
!/lib/jfxtras-labs-2.2-r5-SNAPSHOT.jar
!/lib/gson-2.2.1.jar
!/lib/commons-io-2.1.jar
/lib/junit/junit-3.8.2-api.zip
/lib/nblibraries.properties