/* 
    Document   : arduino
    Created on : 07-dic-2012, 21:26:06
    Author     : Pereda
    Description:
        Purpose of the stylesheet follows.
*/

.root { 
    -fx-base: #72ff66;
    -fx-background: -fx-base;
    -fx-background-color: linear-gradient(to bottom, -fx-base, derive(-fx-base,90%));
    -fx-control-inner-background:  -fx-base;
}

.roundedAnchorPane {
    -fx-border-radius: 10 10 10 10;
    -fx-border-color: #a6a6a6;
    -fx-border-width: 0.2em;
}

.custom-chart .chart-series-line {    
    -fx-stroke-width: 3px;
}

.custom-chart .default-color0.chart-series-line { -fx-stroke: #e9967a; }
.custom-chart .default-color1.chart-series-line { -fx-stroke: #22bad9; }

.custom-chart .default-color0.chart-line-symbol { 
    -fx-background-color: #e9967a, derive(#e9967a,50%); 
}
.custom-chart .default-color1.chart-line-symbol { 
    -fx-background-color: #22bad9, derive(#22bad9,50%); 
}
